$primaryColor : #FF6060;

// Div container
.listDropdown {
    margin: 25px auto;
    width: 100%;
    max-width: 1024px;
    overflow: hidden;

    // Container du titre
    &__containerTitle {
        color: white;
        background-color: $primaryColor;
        border-radius: 5px;
        padding: 7px 18px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 2;
        cursor: pointer;
    }

    // Le titre
    &__title {
        font-size: 1.4em;
    }

    // L'icone pour rétracter
    &__icon {
        margin-right: 15px;
        width: 22px;
        transition: transform 0.3s;

        &.active {
            transform: rotate(180deg);
        }
    }

    // Container du texte
    &__containerEquipment {
        background-color: #F6F6F6;
        color: $primaryColor;
        border-radius: 0px 0px 5px 5px;
        padding: 20px 15px 15px 15px;


    }

    &__equipment {
        font-family: "Montserrat";
        font-size: 1.1em;
        font-weight: 200;
        line-height: 28px;
        list-style-type: none;
    }
}
