* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
        padding: 0px;
}

body {
    width: 90%;
    max-width: 1240px;
    margin: auto;
}
/* POUR LA PAGE D'ACCUEIL */
.home__section {
    background-color: #F7F7F7;
    border-radius: 20px;
    margin-top: 40px;
    padding-top: 25px;
}

.home__section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.home__section li {
    padding: 30px 20px 30px 20px;
}
/* POUR LA PAGE PRODUIT */

.product__description {
    display: flex;
    justify-content: space-between;
}
.product__infos {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.product__desc1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 70%;
}

.product__title {
    font-size: 2.3em;
    font-weight: 500;
    color: #FF6060;
    padding-bottom: 5px;
}

.product__location {
    display: block;
    font-size: 1.2em;
    color: #FF6060;
    font-weight: 500;
}

.product__containerTags {
    display: flex;
    flex-wrap: wrap;
}

.product__desc2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.product__containerHost {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.product__hostName {
    font-size: 1.2em;
    color: #FF6060;
    font-weight: 500;
    padding-right: 10px;
}

.product__hostName p:nth-child(2) {
    float: right;
}

.product__hostPicture {
    height: 80px;
}

.product__hostPicture img {
    height: 100%;
    border-radius: 80px;
}

.product__rating {
    display: flex;
    justify-content: space-between;
    width: 200px;
}
/* POUR LA PAGE ERROR 404 */
.error__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF6060;
}

.error__container h2 {
    font-size: calc(288px + 1vw);
    font-weight: 700;
}

.error__container p {
    font-size: 36px;
    font-weight: 500;
    text-align: center;
}

.error__return {
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    margin-top: 100px;
}